<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi plantilla personalizada</title>
</head>
<body>
    <h1>Esto es un ejemplo de plantilla</h1>
    <h2>aquí el título del fichero md en el frontmatter</h2>
    <hr>

    <span style="color:firebrick">{{.Title}}</span>
    <hr>

    <h3>Declaro y luego visualizo una variable</h3>
    {{ $nombre := "Diana" }}
    <h2>Valor de variable $mi_nombre</h2>
    <hr>

    <span style="color:firebrick">{{ $nombre }}</span>
    <hr>
</body>
</html>
